.kpi-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px 0;
}

.kpi-item {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.kpi-label {
    font-size: 14px;
    color: #6b7280;
    /* 灰色標題 */
    letter-spacing: 0.5px;
}

.kpi-value {
    font-size: 22px;
    font-weight: 700;
    color: #111827;
    /* 深色數字 */
}

.chart-row.three {
    grid-template-columns: repeat(3, 1fr);
}

.chart-row.two {
    grid-template-columns: repeat(2, 1fr);
}

.chart-row.one {
    grid-template-columns: 1fr;
}


.chart {
    background: #ffffff;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}


/* ===== Desktop (預設) ===== */
.chart-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* ⭐ 永遠 3 欄 */
    gap: 20px;
    margin: 30px 0;
}




/* ======================
   RWD - Tablet
====================== */
@media (max-width: 1024px) {
    .chart-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* ======================
   RWD - Mobile
====================== */
@media (max-width: 768px) {
    .chart-grid {
        grid-template-columns: 1fr;
    }
}